<header class="header">
  <div class="header__wrapper container">
    <div class="header__wrap-h">
      <div class="wrap-h__wrap">
        <a href="./index.html" class="logo">
          <svg class="logo__svg">
            <use href="./images/symbol-defs.svg#icon-logo"></use>
          </svg>
        </a>
        <ul class="wrap-h__list-h desk">
          <li class="list-h__item-h">
            <a href="#" class="item-h__link">Characteristics</a>
          </li>
          <li class="list-h__item-h">
            <a href="#" class="item-h__link">History</a>
          </li>
          <li class="list-h__item-h">
            <a href="#" class="item-h__link">Reviews</a>
          </li>
          <li class="list-h__item-h">
            <a href="#" class="item-h__link">Payment and delivery</a>
          </li>
        </ul>
        <div class="menu-btn">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="menu">
        <nav class="container">
          <ul class="wrap-h__list-h">
            <li class="list-h__item-h">
              <a href="#" class="item-h__link">Characteristics</a>
            </li>
            <li class="list-h__item-h">
              <a href="#" class="item-h__link">History</a>
            </li>
            <li class="list-h__item-h">
              <a href="#" class="item-h__link">Reviews</a>
            </li>
            <li class="list-h__item-h">
              <a href="#" class="item-h__link">Payment and delivery</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="header__hero">
      <ul class="hero__list">
        <li>
          <p class="hero__subtitle">
            Noise cancellation headphones that are capable for a lot of things
          </p>
        </li>
        <li><p class="hero__subtitle">Up to 20 hours of playback</p></li>
      </ul>
      <h1 class="hero__title">Headphones Bose NC 700</h1>
      <button class="hero__button">order</button>
    </div>
  </div>
</header>
